@model CandidateManagemente.Web.ViewModel.CandidateCompleteVM
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Candidate";
    ViewBag.SubmitButtonText = "Save";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Candidate</title>
    <link rel="stylesheet" href="~/css/input-page-layout.css">
</head>
<body>
    <h1>Edit Candidate</h1>
    <hr />
    <div class="grid-container">
        <form asp-action="Edit">
            @{
                await Html.RenderPartialAsync("_CandidateForm", Model);
            }
        </form>
    </div>
</body>
</html>
